.container {
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 12px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 2px;

  & label {
    font-size: 14px;
  }
}