.taskItem {
  display: flex;
  flex-direction: column;
  user-select: none;
  gap: 20px;
  border-radius: 12px;
  padding: 12px 20px 4px;
  background: rgba(240, 240, 240, 0.5);
  backdrop-filter: blur(5px);

  &.todo {
    background-color: rgba(255, 95, 95, 0.25);
  }

  &.inProgress {
    background-color: rgba(30, 150, 255, 0.25);
  }

  &.done {
    background-color: rgba(50, 255, 100, 0.25);
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @media (min-width: 992px) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
  }
}

//.meta,
//.status {
//  color: rgba(110, 110, 110);
//}

.status {
  font-size: 14px;
  text-transform: lowercase;
  display: flex;
  align-items: center;
  gap: 10px;
}

.meta {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 12px;
}
