.projects {
  flex: 1;
}

.heading {
  font-size: 32px;
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.items {
  display: grid;
  gap: 20px;
  flex: 1;

  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1100px) {
    grid-template-columns: repeat(4, 1fr);
  }
}