.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(240, 240, 240);

  @media (min-width: 576px) {
    padding: 20px;
  }

  @media (min-width: 576px) {
    background: transparent;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
}

.item {
  text-transform: lowercase;
  padding: 12px 20px;
  font-size: 16px;
  transition: 200ms all ease-in-out;

  background: rgba(240, 240, 240);

  &:hover {
    background: rgba(220, 220, 220);
  }

  &.active {
    background: rgba(20, 20, 20);

    color: rgb(255, 255, 255);
  }

  @media (min-width: 576px) {
    &:first-child {
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
    }

    &:last-child {
      border-bottom-right-radius: 50px;
      border-top-right-radius: 50px;
    }
  }
}